  /* Poolside */
  
  @font-face {
      font-family: 'Chicago';
      src: url('https://joshmillgate.github.io/link_sushi/themes/poolsuite/chicago.woff2') format('woff2');
      font-weight: 100;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'PixelArial';
      src: url('https://joshmillgate.github.io/link_sushi/themes/poolsuite/PixelArial.woff2') format('woff2');
      font-weight: 100;
      font-style: normal;
  }
  
  :root {
      --body-background: url('https://images.ctfassets.net/hsst7dmi6ghe/1wUHpIjmtkPxrkxCJZ4RKa/5ae1c34cedc9e9da9ee1aea40ab530fc/1.png') repeat center center !important;
      --color-bg-default: #f9efe4!important;
      --color-text-default: #000000!important;
      --max-width: 550px!important;
      --link-padding: 10px!important;
      --link-border-radius: 0px!important;
      --link-background: #f9efe4!important;
      --link-border: 1px solid #000000!important;
      --link-color: #000000!important;
      --link-shadow: inset -1px -1px 0 0 #c2b9b1, inset 1px 1px 0 0 #fff, 5px 5px 0 rgba(0, 0, 0, .2)!important;
      --link-hover-shadow: inset -1px -1px 0 0 #c2b9b1, inset 1px 1px 0 0 #fff, 5px 5px 0 rgba(0, 0, 0, .2)!important;
      --link-hover-translate: translate(0, 0)!important;
      --link-backdrop-filter: 0 !important;
      --social-icons-filter: grayscale(100%) brightness(0%) contrast(100%)!important;
      --link-hover-background: #000000!important;
      --color-text-default-light: #ffffff!important;
  }
  
  body {
      -webkit-font-smoothing: antialiased!important;
      -moz-osx-font-smoothing: grayscale!important;
      text-rendering: optimizeLegibility!important;
      font-family: 'PixelArial'!important;
      font-size: 8px!important;
      font-weight: 100!important;
      background-size: auto!important;
      background-repeat: repeat!important;
      image-rendering: -moz-crisp-edges!important;
      image-rendering: -webkit-crisp-edges!important;
      image-rendering: pixelated!important;
      image-rendering: crisp-edges!important;
  }
  
  .notion-collection-list__item {
      font-family: 'Chicago'!important;
      font-size: 16px!important;
      font-weight: 100!important;
  }
  
  .notion-collection-list__item:hover {
      color: #ffffff!important;
  }
  
  .notion-header__title {
      display: none!important;
  }
  
  .notion-property__title {
      display: flex!important;
      align-items: center!important;
      justify-content: center!important;
  }
  
  .notion-property__title__icon-wrapper span {
      width: 42px!important;
      height: 42px!important;
  }
  
  .notion-property__title img {
      width: 42px!important;
      height: 42px!important;
  }
  
  .notion-property__title>span>span {
      margin-top: 2px!important;
  }
  
  p .notion-link {
      opacity: 1!important;
      border-bottom: 1px solid #000000!important;
  }
  
  .notion-header__icon-wrapper.has-icon-image {
      width: 150px!important;
      height: 150px!important;
  }
  
  @media (max-width: 546px) {
      .notion-header__icon-wrapper.has-icon-image {
          width: 120px!important;
          height: 120px!important;
      }
  }