/* TEST */
/* Variables */
:root {
  --color-bg-default: rgb(242, 241, 240) !important;
  --color-bg-light-default: rgba(242, 241, 240, 0.25) !important;
  --color-text-default: rgb(0, 0, 0) !important;
}

body {
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1vw;
}

/* --- Adjust the max width of pages --- */
.super-content.max-width, .notion-header__content.max-width {
  max-width: 1080px !important;
}

h1 {
  font-size: 4em;
  line-height: 1.17;
}

/* Hide page title */
.notion-header__title {
  display: none !important;
}

/* Override default card styling */
.notion-collection-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 44px !important;
}
@media screen and (min-width: 370px) {
  .notion-collection-card {
    margin-bottom: 0 !important;
  }
}

/* Hide collection header */
.notion-collection__header {
  display: none !important;
}

.notion-property__title__icon-wrapper {
  display: none!important;
}

.notion-collection-card:hover {
  background: transparent!important;
}

.notion-collection-gallery {
  display: flex!important;
  border: none!important;
}

.notion-collection-card {
  width: 100%;
  display: flex!important;
  flex-direction: row-reverse!important;
  justify-content: center;
  align-items: center;
}

.notion-property .notion-property__title {
  width: 50%!important;
}

.notion-collection-card__content {
  display: none!important;
}

.notion-collection-card__cover {
  height: auto!important;
  overflow: auto!important;
  border: none!important;
}

.notion-collection-card__cover .medium {
  width: 50%!important;
}

.notion-collection-card__cover > div {
  position:static!important;
}

.notion-collection-card__cover > div > img {
visibility: visible; 
position:static!important;
inset: 0px; 
box-sizing: border-box; 
padding: 0px; 
border: none;
margin: auto; 
display: block; 
width: 100%!important;
height: auto!important;
min-width: 100%; 
max-width: 100%; 
min-height: 100%; 
max-height: 100%; 
object-fit: cover; 
object-position: center 50%;
border-radius: 0px!important;
}

.notion-collection-card__cover.large, .notion-collection-card__cover.large>div, .notion-collection-card__cover.large img, .notion-collection-card__cover.medium, .notion-collection-card__cover.medium>div, .notion-collection-card__cover.medium img {
  height:auto!important;
  max-height: 600px!important;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
  white-space: pre-wrap!important;
  overflow: auto!important;
  text-overflow: unset!important;
}

.notion-collection-card .notion-property__title {
  font-size: 1.375rem!important;
}