/* Variables */
:root {
  --color-bg-default: rgb(242, 241, 240) !important;
  --color-bg-light-default: rgba(242, 241, 240, 0.25) !important;
  --color-text-default: rgb(0, 0, 0) !important;
}

body {
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1vw;
}

h1 {
  font-size: 4em;
  line-height: 1.17;
}

/* Override default card styling */
.notion-collection-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 44px !important;
}
@media screen and (min-width: 370px) {
  .notion-collection-card {
    margin-bottom: 0 !important;
  }
}

.notion-collection-card:hover {
  background: transparent !important;
}

.notion-collection-gallery {
  display: flex;
}

.notion-collection-card .gallery {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.notion-collection-card__content {
  display: none;
}

.notion-collection-card__cover {
  height: auto;
  overflow: auto;
}

.notion-collection-card__cover.medium {
  max-height: auto;
  height: auto;
}
