:root {
    --primary-color: #202B3F;
    --color-text-default: #202B3F;
    --color-bg-default:#FBFCFF;
    --color-border-default: #e3e4f0!important;
    --button-bg-color: #202B3F!important;
    --button-text-color: #ffffff!important;
    --mobile-menu-background-color: #FFFFFF;
    --list-item-border: #E1E9FF;
    --list-item-hover: #F1F5FF;
    --page-width: 1280px;
    --button-rounding: 50px!important;
    --header-title-align: center!important;
    --card-radius: 36px!important;
    --header-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 98%)!important;
    --navbar-bg: rgba(255, 255, 255, .6)!important;
}

.theme-dark {
    --header-gradient: linear-gradient(to bottom, rgba(39, 43, 51, 0), rgba(39, 43, 51, 1) 98%)!important;
    --navbar-bg: rgba(25, 25, 25, .6)!important;
    --button-bg-color: #36507e!important;
    --button-text-color: #f2f2f2!important;
    --color-bg-default: #272b33!important;
    --color-border-default: #46474e!important;
    --list-item-hover: ##a5a5a530!important;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}
.super-navbar__menu {
  background: var(--mobile-menu-background-color)!important;
}
.super-navbar {
  transition: height 0.3s ease-in-out !important;
  box-shadow: 0 0 1px 1px rgba(33,41,63,.1)!important;
  z-index: 90!important;
  background: var(--navbar-bg)!important;
}
.super-navbar__cta {
    padding: 12px 20px!important;
    border-radius: var(--button-rounding)!important;
    background: var(--button-bg-color)!important;
    color: var(--button-text-color)!important;
}
.super-navbar.scrolled {
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    -moz-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
}
.super-navbar.scrolled {
    height: 65px !important;
}
.notion-toggle.bg-brown {
    display: none!important;
}
.notion-image img {
    border-radius: 20px!important;
}

h1 {
    font-size: 42px!important;
    line-height: 48px!important;
}
.notion-collection-card__cover, .notion-collection-card__cover img {
    transition: all .25s ease-in-out!important;
}
.notion-collection-gallery {
    gap: 45px!important;
    row-gap: 50px!important;
}
.notion-collection-card {
    box-shadow: none!important;
    background: transparent!important;
}
.notion-collection-gallery {
    border-top: 0px!important;
}
.notion-collection-card__property {
    min-height: 0px!important;
    margin-bottom: 8px!important;
}
.notion-collection-card__content > * {
    margin-bottom: 10px!important;
}
.notion-collection-card__cover {
    border-radius: var(--card-radius)!important;
    box-shadow: 0 3px 16px 0 rgba(38, 47, 92, 0.06);
    border: 0!important;
}
.notion-collection-card__cover.medium {
    height: 280px!important;
    max-height: 280px!important;
}
.notion-property__title {
    transition: opacity .15s ease-in-out!important;
    margin-bottom: 5px!important;
    opacity: .85!important;
}
.notion-property.notion-property__title .notion-semantic-string span {
    white-space: pre-wrap!important;
}
.notion-property.notion-property__title .notion-semantic-string {
    display: flex!important;
}
.notion-collection-card .notion-property__title {
    padding: 0px!important;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}
.notion-collection-card__content {
    padding: 0px!important;
    justify-content: space-between!important;
    font-size: 0.8em!important;
}

.notion-collection-card__property:last-child, .notion-collection-list__item-property:last-child {
    background: var(--button-bg-color)!important;
    border-radius: 100px!important;
    padding: 10px!important;
    color: var(--button-text-color)!important;
    font-weight: 600!important;
    opacity: .5!important;
    transition: opacity .15s ease-in-out!important;
    position: absolute!important;
    top: 20px!important;
    right: 20px!important;
}


.notion-property.notion-property__select .notion-pill {
    padding: 14px 10px!important;
    margin: 0!important;
    line-height: 0!important;
    max-width: 100%!important;
    border-radius: 50px!important;
    opacity: .7!important;
    transition: opacity .15s ease-in-out!important;
}
.notion-collection-card .notion-property__title span, .notion-collection-card .notion-property__title {
    font-size: 22px!important;
    font-weight: 600!important;
    letter-spacing: -.5px!important;
}
.notion-collection-card:hover {
    background: none!important;
    cursor: pointer!important;
}

.notion-collection-card:hover .notion-collection-card__property:last-child, .notion-collection-list__item:hover .notion-collection-list__item-property:last-child {
    opacity: 1!important;
}
.notion-collection-card:hover > .notion-property__title {
    opacity: 1!important;
}
.notion-collection-card:hover .notion-property.notion-property__select .notion-pill {
    opacity: 1!important;
}
.notion-collection-card:hover .notion-collection-card__cover {
    transform: scale(.97)!important;
    border-radius: calc(var(--card-radius) + 2px)!important;
}
.notion-collection-card:hover .notion-collection-card__cover img {
    transform: scale(1.15)!important;
}
.gallery .notion-collection-card__property.notion-semantic-string {
    white-space: pre-wrap!important;
    opacity: .8!important;
}
.notion-collection {
    transition: all .15s ease-in-out!important;
}
.notion-embed iframe {
    background: var(--color-bg-default)!important;
}
/* LIST */
.notion-collection-list {
    max-width: 800px!important;
    margin: 0 auto!important;
    border-top: 0!important;
}
.notion-collection-list__item {
    flex-direction: column!important;
    align-items: flex-start!important;
    margin-bottom: 20px!important;
    border-radius: 20px!important;
    padding: 20px!important;
    transition: background .15s ease-in-out!important;
    border: 1px solid var(--color-border-default)!important;
}
.notion-collection-list__item:hover {
    background: var(--list-item-hover)!important;
}
.notion-collection-list__item-content {
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    max-width: 600px!important;
}

.notion-collection-list__item-content .notion-property__text {
    max-width: 600px!important;
}
.notion-collection-list__item-property .notion-semantic-string {
    white-space: pre-wrap!important;
}
.notion-collection-list .notion-property__title__icon-wrapper span, .notion-property__title__icon-wrapper {
    display: block!important;
}
.notion-collection-list .notion-property__title__icon-wrapper {
    margin-inline-end: 10px!important;
}
.notion-collection-list .notion-property__title {
    font-size: 22px!important;
    margin-bottom: 10px!important;
}
.notion-root > h1.notion-heading:first-of-type {
    text-align: center!important;
    max-width: 600px!important;
    margin: 0 auto!important;
}

/* DB View switcher code*/
@-webkit-keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
}
@keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
}
@-webkit-keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
}
@keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
}
.notion-dropdown__menu-header, .notion-dropdown__button svg:first-of-type {
    display: none!important;
}
.notion-dropdown {
    width: 100%!important;
}
.notion-dropdown__button {
    justify-content: space-between!important;
    width: 100%!important;
    border: 1px solid var(--color-border-default)!important;
    padding: 10px!important;
    border-radius: 8px!important;
}
.notion-dropdown__menu-wrapper {
    margin-bottom: 25px!important;
}
.notion-dropdown__menu {
    width: 100%!important;
    border-radius: 8px!important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
    background: var(--color-bg-default)!important;
    border: 1px solid var(--color-border-default)!important;
    margin-top: 5px!important;
}
.notion-dropdown__option-list {
    padding: 0px!important;
    flex-wrap: wrap!important;
}
.notion-dropdown__option {
    padding: 5px 16px!important;
    height: 50px!important;
}
.notion-dropdown__option p, .notion-dropdown__button-title {
    font-size: 16px!important;
}
.notion-dropdown__button:hover {
    background: transparent!important;
}
.notion-dropdown__option-icon {
    display: none!important;
}
/* Desktop styles */
@media all and (min-width: 624px) {
   /* Hide default dropdown */
    .notion-dropdown__button, .notion-dropdown__menu-header {
        display: none !important;
   }

   /* Dropdown Initial State */
    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
   }
   /* Remove animations */
    .notion-dropdown__menu.animate-in.animate-out, .notion-dropdown__menu.animate-in, .notion-dropdown__menu.animate-out {
        animation: none!important;
   }
   /* Restyle menu */
    .notion-dropdown__menu {
        background:transparent !important;
        box-shadow: unset !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        position: relative !important;
        border: none!important;
   }
   /* Menu wrapper */
    .notion-dropdown__menu-wrapper {
        margin-bottom: 0px!important;
        position: relative!important;
   }
   /* Item hover */
    .notion-dropdown__option:hover {
        background: var(--color-text-default)!important;
        border: 1px solid var(--button-bg-color)!important;
   }
   /* Text hover style*/
    .notion-dropdown__option:hover p, .notion-dropdown__option:hover svg {
        color: var(--color-bg-default)!important;
   }
   /* Item margin*/
    .notion-dropdown__option {
        margin: 10px 10px;
        border: 1px solid var(--color-border-default)!important;
        border-radius: var(--button-rounding)!important;
        transition: all .2s ease-out!important;
   }
   /* Item text */
    .notion-dropdown__option p {
        transition: color .2s ease-in-out !important;
        color: var(--color-grey)!important;
        font-size: 18px !important;
   }
    .notion-dropdown__option-list {
        display: flex !important;
        padding: 0 !important;
        margin-left: -10px!important;
        justify-content: center!important;
   }
}



/* Page specific */


#page-index .notion-header__cover.has-cover {
      position: absolute!important;
      width: 100%!important;
      top: 0!important;
      height: 100vh!important;
      max-height: 100vh!important;
      z-index: -2!important;
      opacity: var(--bg-opacity)!important;
  }

.notion-header__cover:after {
      content: ""!important;
      position: absolute!important;
      z-index: 0!important;
      bottom: -2px!important;
      left: 0!important;
      background-image: var(--header-gradient)!important;
      width: 100%!important;
      height: 100%!important;
  }
  
#page-index .notion-header__content{
  display: none!important;
}


#page-index .super-content {
    margin-top: 5rem!important;
}

/* ALIGN PAGE HEADERS CENTER*/
.notion-header__title-wrapper {
    text-align: center!important;
}
.notion-header__icon-wrapper.has-icon, .notion-header__icon-wrapper.has-icon-image {
  position: absolute!important;
  margin-left: auto!important;
  margin-right: auto!important;
  left: 0!important;
  right: 0!important;
  text-align: center!important;
}


/* On homepage, make text center align */
#page-index .notion-text {
    text-align: center!important;
    max-width: 600px!important;
    margin: 0 auto!important;
}
.max-width {
    max-width: var(--page-width)!important;
}
#page-setup-guide .max-width {
    max-width: 900px!important;
}
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link, .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
    margin: 20px -5px!important;
    padding: 12px 18px!important;
    border-radius: var(--button-rounding)!important;
    opacity: 1!important;
    font-weight: 300!important;
    display: inline-flex!important;
    justify-content: center!important;
    transition: background .2s ease-in-out!important;
    background: var(--button-bg-color)!important;
    color: var(--button-text-color)!important;
    border: 0!important;
}

/* new button */

.notion-root .notion-text strong .notion-link,
.notion-root .notion-text .notion-link strong {
    border: 0!important;
    margin: 20px -5px!important;
    padding: 12px 18px!important;
    border-radius: var(--button-rounding)!important;
    opacity: 1!important;
    font-weight: 300!important;
    display: inline-flex!important;
    justify-content: center!important;
    transition: background .2s ease-in-out!important;
    background: var(--button-bg-color)!important;
    color: var(--button-text-color)!important;
    text-decoration: none!important;
}

.notion-link {
    opacity: 1!important;
}
.notion-link:hover {
    opacity: .7!important;
}

.notion-collection-card__content .notion-property__text {
    max-width: 100%!important;
}

.notion-dropdown__option.active {
    background: var(--button-bg-color)!important;
    border:var(--button-bg-color)!important;
}

.notion-dropdown__option.active p {
    color: var(--button-text-color)!important;
}