
  :root {
  --color-text-default: #252526!important;
  --color-text-default-light: #F0F0F0!important;
  --column-spacing: 40px!important;
    
  /**/
  /* COLOURS */
  /**/

  --color-gray: #717171!important;
  --color-brown: #cbba9e !important;
  --color-orange: #eb7a34!important;
  --color-yellow: #ffca1d !important;
  --color-green: #2fbaa1!important;
  --color-blue: #3399ff !important;
  --color-purple: #7d47cf!important;
  --color-pink: #ff99cc !important;
  --color-red: #e33c4d!important;

  --color-primary: #2fbaa1!important;

  --color-text-dark: #333333!important;
  --color-text-dark-2:#7f7f7f!important;
  --color-bg-dark: #202126!important;
  --color-bg-dark-darker: #1d1d21!important; 
  --color-bg-dark-lighter: #2f2f2f!important;

  
  --color-text-light: #ffffff!important;
  --color-text-light-legible: #cccccc!important;
  --color-bg-light: white!important;
  --color-bg-light-2: #f2f2f2!important;
  --color-bg-light-3: #ebebeb!important;
  --color-bg-light-4:#dcd9d9!important;
  
  /* Defaults */
  --color-border-default: #e0e0e0!important;
  --color-accent-bg: var(--color-primary);
  --color-text-default-light: #7f7f7f!important;
  --column-spacing: 15px!important;
  --color-ui-hover-bg-light: #f2f2f2!important;
  
  /**/
  /* NOTION TEXT COLOURS */
  /**/
  --color-text-gray:  var(--color-gray) !important;
  --color-text-brown:  var(--color-brown) !important;
  --color-text-orange:  var(--color-orange) !important;
  --color-text-yellow:  var(--color-yellow) !important;
  --color-text-green:  var(--color-green) !important;
  --color-text-blue:  var(--color-blue) !important;
  --color-text-purple:  var(--color-purple) !important;
  --color-text-pink:  var(--color-pink) !important;
  --color-text-red:  var(--color-red) !important;

  /**/
  /* NOTION BG COLOURS */
  /**/
  --color-bg-default: #9ba0b0 !important;
  --color-bg-gray: var(--color-gray)!important;
  --color-bg-brown: var(--color-brown) !important;
  --color-bg-orange: var(--color-orange) !important;
  --color-bg-yellow: var(--color-yellow) !important;
  --color-bg-green: var(--color-green) !important;
  --color-bg-blue: var(--color-blue) !important;
  --color-bg-purple: var(--color-purple) !important;
  --color-bg-pink: var(--color-pink) !important;
  --color-bg-red: var(--color-red) !important;

}
  
body {
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  text-rendering: optimizeLegibility!important;
  background: var(--color-bg-dark)!important;
  color: var(--color-text-light)!important;
  font-size: 16px!important;
}
  
.notion-root {
  background: var(--color-bg-light)!important; 
  color: var(--color-text-dark)!important;
}

  .super-content {
  padding: 0!important;
}

/*NAVBAR*/
.notion-navbar {
  display: flex!important;
  position: fixed!important;
  height: 70px!important;
  background: white!important;
  border-bottom: 1px solid var(--color-border-default)!important;
  background: var(--color-bg-light)!important;
}

.notion-navbar__title {
  color: var(--color-text-dark)!important;
  font-size: 16px!important;
  transition: var(--transition);
  z-index: 50!important;
}
  
.notion-breadcrumb__divider {
  display: none;
}

.notion-breadcrumb__item:not(:first-child) {
  display: none!important;
}

/* SET FIRST INSTANCE OF QUOTE TO NAV*/
.notion-root > .notion-quote {
    position: fixed!important;
    right: 0!important;
    top: 0!important;
    margin: 0!important;
    z-index: 40!important;
    background: transparent!important;
    border: 0!important;
    font-size: 16px!important;
    margin-right: 70px!important;
    padding: 0!important;
    height: 70px!important;
    display: flex!important;
    align-items: center!important;
}

.notion-root > .notion-quote a {
  margin-right: 25px;
  color: var(--color-dark)!important;
}

.notion-root > .notion-quote a:hover {
  color: var(--color-primary)!important;
}

/* Target last link in nav */
  .notion-root > .notion-quote > span > span:last-child > a {
  margin-right: 0px!important;
}

/* SEARCH ICON */
.notion-icon__search path:nth-child(2) {
  fill: var(--color-text-dark-2)!important;
}

.notion-icon__search:hover path:nth-child(2) {
  fill: var(--color-primary)!important;
}

/* SEARCH BOX */
.notion-search__input {
  background: white!important;
}

.notion-search__box {
  background: white!important;
}

.notion-search__wrapper{
  background: rgba(0, 0, 0, 0.5)!important;
}

.notion-search__result-footer {
  color: var(--color-text-dark-2)!important;
}

/*HEADER*/

.notion-header {
  display: none!important;
}

/*TOGGLE*/
.notion-toggle.bg-gray {
  display: none!important;
}

/* EMBEDS */

.notion-embed {
  margin: 35px 0!important;
}

/* PAGES */

.notion-page {
  margin: 0!important;
}

.notion-page > div {
  padding: 0!important;
  margin: 5px 0px!important;
  padding-inline-end: 0px!important;
}

.notion-page__icon {
  display: none!important;
}

.notion-page__title {
  color: var(--color-text-dark-2)!important;
  font-size: 15px!important;
  line-height: 1.5!important;
}

.notion-page__title .notion-semantic-string {
  border: 0!important;
  font-weight: 400!important;
  white-space: pre-wrap!important;
  line-height: 1!important;
}

.notion-page__title .notion-semantic-string span {
  line-height: 1!important;
}

.notion-page > div:hover {
  background: transparent!important;
}

.notion-page > div:hover .notion-page__title {
  color: var(--color-text-dark)!important;
}

/* CONTENTS */

.notion-table-of-contents {
  margin: 0!important;
  padding: 0!important;
}

.notion-table-of-contents__item {
  margin: 10px 0px!important;
  font-size: 15px!important;
}

.notion-table-of-contents__item .notion-semantic-string {
  border: 0!important;
}

.notion-table-of-contents__item a div  {
  /*margin-inline-start: 0px!important;*/
  padding: 0!important;
}

.notion-table-of-contents__item a {
  color: var(--color-text-dark-2)!important;
}

.notion-table-of-contents__item a:hover {
  color: var(--color-text-dark)!important;
}

.notion-table-of-contents__item:hover {
  background: transparent!important;
}

.notion-text__content {
  color: var(--color-text-dark)!important;
  margin: 10px 0!important;
  padding: 0!important;
}

.notion-semantic-string .link {
  opacity: 1!important;
}

ul > .notion-list-item:before {
  content: "-"!important;  
  opacity: .3!important;
  display: inline-block!important;
  margin-left: -1em!important;
  font-size: 16px!important;
}

.notion-heading {
  margin: 2.4rem 0 2rem 0!important;
  font-weight: 600!important;
}

h1.notion-heading {
  font-size: 3rem!important;
  font-weight: 700!important;
  line-height: 1!important;
  margin-top: 0.75rem!important;
  margin-bottom: 10px!important;
}
h1.notion-heading .notion-semantic-string {
  line-height: 1.2!important;
}

h2.notion-heading {
  font-size: 2rem!important;
  line-height: 1.5!important;
  margin-bottom: 0px!important;
}

h3.notion-heading {
  font-size: 1.5rem!important;
  text-transform: none!important;
  letter-spacing: 0px!important;
  margin-bottom: 10px!important;
}

h4.notion-heading {
  font-size: 1.2rem!important;
}

.notion-root > h1 {
  margin-top: 0px!important;
  margin-bottom: 60px!important;
  height: 15vh!important;
  max-width: 64vw!important;
  -webkit-animation: fadeInDown 1s; 
  -moz-animation: fadeInDown 1s; 
  -ms-animation: fadeInDown 1s; 
  -o-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
  display: none!important;
}

/* LINKS */

a {
  color: var(--color-text-dark-2)!important;
  border: 0!important;
}

a:hover {
    color: var(--color-primary)!important;
}

.notion-link {
  color: var(--color-text-dark-2)!important;
}

p>span>span>a {
  border: 0!important;
    opacity: 1!important;
}

.notion-heading  a {
  border-bottom: 1px var(--color-text-dark-2 )dotted!important;
}

.notion-list-item a {
  border: 0!important;
  opacity: 1!important;
  color: var(--color-text-dark-2)!important;
  border-bottom: 1px var(--color-text-dark-2 )dotted!important;
}

.notion-list-item a:hover {
  color: var(--color-primary)!important;
}

/*CODE*/

pre {
  /*background: var(--color-bg-light-2)!important;*/
  font-family:'Roboto Mono', monospace!important;
  padding: 12px!important;
  margin: 10px 0px 20px 0px!important;
}

code {
  font-size: 14px!important;
  text-shadow: none!important;
  font-family:'Roboto Mono', monospace!important;
  white-space: pre-wrap!important;
}

.token {
  background: transparent!important;
}

.notion-semantic-string .code::before {
  content: '`'!important;
}
.notion-semantic-string .code::after {
  content: '`'!important;
}

.highlighted-color.color-gray .code {
  color: var(--color-text-dark)!important;
}

.notion-semantic-string .code {
  /*background: transparent!important;  */
  color: var(--color-primary)!important;
  font-size: 0.9em!important;
  white-space: pre-wrap!important;
  padding: 0!important;
}

/* LISTS */
.notion-list-item>span {
  color: var(--color-text-dark)!important;
}

ul > .notion-list-item:before {
  content: ""!important;
  opacity: .3!important;
  display: inline-block!important;
  margin-left: 0px!important;
  font-size: 16px!important;
}

/* QUOTE */
.notion-quote {
  color: #666666!important;
  background-color: #fafafa!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: 3px!important;
  padding: 1.2rem!important;
  margin: 1.5rem 0!important;
  /*font-size: inherit!important;*/
}

/* CALLOUT */
.notion-callout.border >  {
  display: block!important;
}

p.notion-callout__content > span > span strong {
  font-size: 24px!important;
}

.notion-callout a {
  height: auto!important;
  color: red!important;
  width: auto!important;
  display: inline-block!important;
  position: relative!important;
  margin: 0!important;
  padding: 10px 15px!important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  font-size: inherit!important;
  text-decoration: none!important;
  border-bottom: 0!important;
  /*background: var(--color-primary)!important;*/
  border-radius: 7px!important;
  margin-top: 10px!important;
  font-weight: 600!important;
}

.notion-callout__content .notion-link {
  color: white!important;
}

.notion-callout a:hover {
  color: var(--color-text-light)!important;
  cursor: pointer!important;
  box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.15)!important;
}

/* PURPLE CALLOUT */
.notion-callout.bg-purple-light {
  border: 1px solid var(--color-purple)!important;
  background: var(--color-purple)!important;
  color: white!important;
  padding: 25px!important;
}

.notion-callout.bg-purple-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* YELLOW CALLOUT */
.notion-callout.bg-yellow-light {
  border: 1px solid var(--color-yellow)!important;
  background: var(--color-yellow)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-yellow-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}
  
/* GREEN CALLOUT */
.notion-callout.bg-green-light {
  border: 1px solid var(--color-green)!important;
  background: var(--color-green)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-green-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* BLUE CALLOUT */
.notion-callout.bg-blue-light {
  border: 1px solid var(--color-blue)!important;
  background: var(--color-blue)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-blue-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* ORANGE CALLOUT */
.notion-callout.bg-orange-light {
  border: 1px solid var(--color-orange)!important;
  background: var(--color-orange)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-orange-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* PINK CALLOUT */
.notion-callout.bg-pink-light {
  border: 1px solid var(--color-pink)!important;
  background: var(--color-pink)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-pink-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* BROWN CALLOUT */
.notion-callout.bg-brown-light {
  border: 1px solid var(--color-brown)!important;
  background: var(--color-brown)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-brown-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* RED CALLOUT */
.notion-callout.bg-red-light {
  border: 1px solid var(--color-red)!important;
  background: var(--color-red)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-red-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* GRAY CALLOUT */
.notion-callout.bg-gray-light {
  border: 1px solid var(--color-gray)!important;
  background: var(--color-gray)!important;
  color: var(--color-text-light)!important;
  padding: 25px!important;
}

.notion-callout.bg-gray-light a {
  background: rgba(35, 35, 35, .2)!important;
  color: var(--color-text-light)!important;
}

/* DEFAULT CALLOUT */
.notion-callout {
  padding: 0!important;
  width: 100%!important;
  border: 0!important;
  background:transparent!important;
  align-self: flex-start;
  border-radius: 7px!important;
}

.notion-callout a {
  margin-top: 15px!important;
  background: var(--color-primary)!important;
}

.notion-callout__content {
  margin: 0!important;
  display: inline-block!important;
}

.notion-callout__icon {
  display: none!important;
}

.notion-breadcrumb__item:hover {
  background: transparent!important;
}

/* TEXT BACKGROUND COLOURS */
.notion-text.bg-blue > p, .notion-text.bg-orange > p, .notion-text.bg-green > p, .notion-text.bg-purple > p, .notion-text.bg-red > p, .notion-text.bg-gray > p {
  color: var(--color-text-light)!important;
  font-weight: 500!important;
  padding-left: 10px!important;
}

.notion-text.bg-yellow > p,  .notion-text.bg-pink > p, .notion-text.bg-brown > p, .notion-text.bg-yellow > p  {
  color: var(--color-text-dark)!important;
  font-weight: 500!important;
  padding-left: 10px!important;
}

.notion-text.bg-blue,
.notion-text.bg-green,
.notion-text.bg-red,
.notion-text.bg-orange,
.notion-text.bg-purple,
.notion-text.bg-yellow,
.notion-text.bg-pink,
.notion-text.bg-brown,
.notion-text.bg-gray {
  border-radius: 5px!important;
  margin-top: 10px!important;
}

.highlighted-background.bg-green,
.highlighted-background.bg-brown,
.highlighted-background.bg-gray,
.highlighted-background.bg-purple,
.highlighted-background.bg-blue,
.highlighted-background.bg-red { 
   color: var(--color-text-light)!important; 
 }

/* LAYOUT ******************** */ 
.notion-column-list {
  width: 100%!important;
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: nowrap!important;
}

/* 1ST COL */
.notion-root > .notion-column-list > .notion-column:first-child {
  margin-top: 70px!important;
  background: transparent!important;
  border-right: 1px solid var(--color-border-default)!important;
  padding: 30px!important;
  height: calc(100vh - 70px)!important;
  min-width: 265px!important;
  width: 265px!important;
  flex-shrink: 0!important;
  position: sticky!important;
  position: -webkit-sticky!important;
  top: 70px!important;
  overflow: auto!important;
  padding-bottom: 30px!important;
  /*height: calc(100vh - 2rem - 70px);*/
}
  
.notion-root > .notion-column-list > .notion-column:first-child .notion-text {
  min-height: auto!important;
}

/* P in first col */
.notion-root > .notion-column-list > .notion-column:first-child .notion-text p {
  text-transform: uppercase!important;
  font-size: 12px!important;
  letter-spacing: 1px!important;
  font-weight: bold!important;
}
  /*Links in first col */
.notion-root > .notion-column-list > .notion-column:first-child .notion-text p a {
  text-transform: uppercase!important;
  font-size: 12px!important;
  letter-spacing: 1px!important;
  font-weight: 300!important;
}

.notion-root > .notion-column-list > .notion-column:first-child p {
  margin-bottom: 5px!important;
  margin-top: 20px!important;
}

/*No margin on first section of pages*/
.notion-root > .notion-column-list > .notion-column:first-child .notion-text:first-child p {
  margin-top: 0px!important;
}

/* 2ND COL */
.notion-root > .notion-column-list > .notion-column:nth-child(2) {
  padding-top: 100px!important;
  padding-bottom: 100px!important;
  height: 100%!important;
  /*flex: 3!important;*/
  width: 100%!important;
  padding-left: 40px!important;
  padding-right: 40px!important;
  max-width: 680px!important;
  min-width: 500px!important;
  margin: 0 auto!important;
}

/*Links in content*/
.notion-root > .notion-column-list > .notion-column:nth-child(2) .notion-text a {
  border-bottom: 1px var(--color-text-dark-2 )dotted!important;
}

/* 3RD COL */
.notion-root > .notion-column-list > .notion-column:nth-child(3) {
  margin-top: 70px!important;
  background: transparent!important;
  padding: 20px!important;
  margin-left: 0!important;
  min-width: 130px!important;
  height: calc(100vh - 70px)!important;
  /*width: 100%!important;*/
  flex-shrink: 0!important;
  position: sticky!important;
  position: -webkit-sticky!important;
  top: 70px!important;
  padding-right: 30px!important;
}

.notion-root > .notion-column-list > .notion-column:nth-child(3) strong {
  text-transform: uppercase!important;
  font-size: 12px!important;
  letter-spacing: 1px!important;
}

.notion-root > .notion-column-list > .notion-column:nth-child(3) p {
  margin-bottom: 5px!important;
}

/*No margin on first section of pages*/
.notion-root > .notion-column-list > .notion-column:nth-child(3) .notion-text:first-child p {
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
  
@media all and (max-width: 1040px) {
  .notion-root > .notion-column-list > .notion-column:nth-child(3) {
    display: none!important;
  }
}
  
  /* DARK MODE */
  /*:root {*/
  /*  --color-bg-light: #2d2d2d!important;*/
  /*  --color-text-dark: white!important;*/
  /*  --color-border-default: #3d3d3d!important;*/
  /*}*/

/* GALLERY COLLECTION */
.notion-collection__header {
  display: none!important;
}

.notion-collection-gallery {
  border-top: 0!important;
  padding-top: 0!important;
}

.notion-collection-card {
  box-shadow: none!important;
  border: 1px solid var(--color-border-default);
  border-radius: 10px!important;
  
}
 
 .gallery.notion-collection-card .notion-property__title  {
   align-items: center!important;
   justify-content: center!important;
   padding-bottom: 0px!important;
   font-size: 16px!important;
   margin-top: 10px!important;
 }
 
 .gallery .notion-property__title .notion-property__title__icon-wrapper {
   display: none!important;
 }
 
.gallery .notion-collection-card__content {
   display: flex!important;
   align-items: center!important;
   justify-content: center!important;
   font-size: 14px!important;
   margin-bottom: 10px!important;
   opacity: .6!important;
 }
 
 /* TABLE COLLECTION */
 
 .notion-collection-table__head-cell.title {
   text-align: left!important;
 }
 
 .notion-collection-table__cell {
   padding: 8px!important;
 }
 
 td, th{
   text-align: center!important;
 }
 
.notion-collection-table th {
  border:0!important;
}

.notion-collection-table td, .notion-collection-table th {
padding: 8px!important;
  
}

.notion-collection-table td {
  border-left: 0!important;
  border-right: 0!important;
}

/*.toolbar {*/
/*  position: relative!important;*/
/*}*/

.copy-to-clipboard-button {
  border: 0!important;
  box-shadow: none!important;
  background: transparent!important;
  background: var(--color-primary)!important;
  border: 1px solid var(--color-border-default);
  color: var(--color-text-light)!important;
  padding: 6px!important;
  margin-right: 8px!important;
  margin-top: 5px!important;
  border-radius: 5px!important;
  font-size: 14px!important;
  font-family: 'Inter'!important;
  font-weight: 400!important;
  position: relative!important;
  /*width: 100%!important;*/
  /*position: absolute!important;*/
  /*top: 0!important;*/
  /*right: 0!important;*/
}

.copy-to-clipboard-button:hover {
    cursor: pointer!important;
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.04)!important;
  }
