:root {
    --primary-color: #111111;
    --color-text-default: #ffffff!important;
    --color-bg-default:#151618!important;
    --button-bg-color: #FFFFFF!important;
    --button-text-color: #111111!important;
    --list-item-border: #E1E9FF;
    --list-item-hover: #F1F5FF;
    --page-width: 1280px;
    --button-rounding: 5px!important;
    --scrollbar-color: #383838!important;
    --color-border-default: var(--dark-glass)!important;
    --dark-glass: rgba(255,255,255,.05)!important;
    --color-text-default-light: #ffffff!important; 
}
body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    background: linear-gradient(90deg,#151618 15px,transparent 1%) 50%,
    linear-gradient(#151618 15px, #3E4146 1%) 0%,
    hsla(0,0%,100%,.16)!important;
    background-size: 16px 16px!important;
}

.notion-dropdown__option.active {
    background: var(--dark-glass)!important;
  }

.notion-toggle.bg-brown {
    display: none!important;
}
.notion-image img {
    border-radius: 20px!important;
}

h1.notion-heading {
    font-size: 42px!important;
    line-height: 48px!important;
}
.notion-collection-card__cover, .notion-collection-card__cover img {
    transition: all .25s ease-in-out!important;
}
.notion-collection-gallery {
    gap: 45px!important;
    row-gap: 50px!important;
}
.notion-collection-card {
    box-shadow: none!important;
    background: transparent!important;
}
.notion-collection-gallery {
    border-top: 0px!important;
}
.notion-collection-card__property {
    min-height: 0px!important;
    margin-bottom: 8px!important;
}
.notion-collection-card__content > * {
    margin-bottom: 10px!important;
}
.notion-collection-card__cover {
    border-radius: 4px!important;
    box-shadow: 0 3px 16px 0 rgba(38, 47, 92, 0.06);
    border: 0!important;
}
.notion-collection-card__cover.medium {
    height: 280px!important;
    max-height: 280px!important;
}
.notion-property__title {
    transition: opacity .15s ease-in-out!important;
    margin-bottom: 5px!important;
    opacity: .85!important;
}
.notion-property.notion-property__title .notion-semantic-string span {
    white-space: pre-wrap!important;
}
.notion-property.notion-property__title .notion-semantic-string {
    display: flex!important;
}
.notion-collection-card .notion-property__title {
    padding: 0px!important;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}
.notion-collection-card__content {
    padding: 0px!important;
    justify-content: space-between!important;
    font-size: 0.8em!important;
}

.notion-property.notion-property__select .notion-pill {
    padding: 14px 10px!important;
    margin: 0!important;
    line-height: 0!important;
    max-width: 100%!important;
    border-radius: 50px!important;
    opacity: .7!important;
    transition: opacity .15s ease-in-out!important;
    margin-right: 4px!important;
}
.notion-collection-card .notion-property__title span {
    font-size: 22px!important;
    font-weight: 600!important;
    letter-spacing: -.5px!important;
}
.notion-collection-card:hover {
    background: none!important;
    cursor: pointer!important;
}

.notion-collection-card:hover > .notion-property__title {
    opacity: 1!important;
}
.notion-collection-card:hover .notion-property.notion-property__select .notion-pill {
    opacity: 1!important;
}
.notion-collection-card__cover {
  border: 1px solid var(--color-border-default)!important;
}



.notion-collection-card:hover .notion-collection-card__cover img {
    transform: scale(1.15)!important;
}
.gallery .notion-collection-card__property .notion-semantic-string {
    white-space: pre-wrap!important;
    opacity: .8!important;
    font-size: 14px!important;
}
.notion-collection {
    transition: all .15s ease-in-out!important;
}
.notion-embed iframe {
    background: var(--color-bg-default)!important;
}

.notion-collection-list {
    margin: 0 auto!important;
    border-top: 0!important;
}

.notion-collection-list__item:hover {
    background: rgba(255,255,255,.1)!important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span{ border-bottom: 0px!important}

.notion-collection-card__property:last-child, .notion-collection-list__item-property:last-child {
    background: rgba(0,0,0,.3)!important;
    border-radius: 100px!important;
    padding: 10px!important;
    color: white!important;
    font-size: 16px!important;
    font-weight: 600!important;
    opacity: 1!important;
    transition: opacity .15s ease-in-out!important;
    position: absolute!important;
    top: 20px!important;
    right: 20px!important;
    width: 55px!important;
    height: 55px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    transition: background .2s ease-in-out!important;
}

.notion-collection-card:hover .notion-collection-card__property:last-child, .notion-collection-list__item:hover .notion-collection-list__item-property:last-child {
    background: rgba(0,0,0,.7)!important;
}

@-webkit-keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
}
@keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
}
@-webkit-keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
}
@keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
   }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
   }
}
.notion-dropdown__menu-header, .notion-dropdown__button svg:first-of-type {
    display: none!important;
}
.notion-dropdown {
    width: 100%!important;
}
.notion-dropdown__button {
    justify-content: space-between!important;
    width: 100%!important;
    border: 1px solid var(--color-border-default)!important;
    padding: 10px!important;
    border-radius: 8px!important;
}
.notion-dropdown__menu-wrapper {
    margin-bottom: 25px!important;
}
.notion-dropdown__menu {
    width: 100%!important;
    border-radius: 8px!important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
    background: var(--color-bg-default)!important;
    border: 1px solid var(--color-border-default)!important;
    margin-top: 5px!important;
    
}
.notion-dropdown__option-list {
    padding: 0px!important;
    flex-wrap: wrap!important;
}
.notion-dropdown__option {
    padding: 5px 16px!important;
    height: 50px!important;
}
.notion-dropdown__option p, .notion-dropdown__button-title {
    font-size: 16px!important;
}
.notion-dropdown__button:hover {
    background: transparent!important;
}
.notion-dropdown__option-icon {
    display: none!important;
}

@media all and (min-width: 624px) {

    .notion-dropdown__button, .notion-dropdown__menu-header {
        display: none !important;
   }


    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
   }
  
    .notion-dropdown__menu.animate-in.animate-out, .notion-dropdown__menu.animate-in, .notion-dropdown__menu.animate-out {
        animation: none!important;
   }

    .notion-dropdown__menu {
        background:transparent !important;
        box-shadow: unset !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        position: relative !important;
        border: none!important;
   }

    .notion-dropdown__menu-wrapper {
        margin-bottom: 0px!important;
        position: relative!important;
   }

    .notion-dropdown__option:hover {
     border: 1px solid rgba(255,255,255,.1)!important;
  background: #2D2F30!important;
        
   }

    .notion-dropdown__option:hover p, .notion-dropdown__option:hover svg {
        color: white!important;
   }
  
    .notion-dropdown__option {
        margin: 10px 10px;
        transition: all .2s ease-out!important;
          border: 1px solid rgba(255,255,255,.1)!important;
  border-radius: 11px!important;
  padding: 10px 12px!important;
  height: auto!important;
    transition: background .6s ease, border .1s ease-in!important;
   }

    .notion-dropdown__option p {
        transition: color .2s ease-in-out !important;
        color: var(--color-grey)!important;
        font-size: 18px !important;
   }
    .notion-dropdown__option-list {
        display: flex !important;
        padding: 0 !important;
        margin-left: -10px!important;
        justify-content: flex-start!important;
   }
    .notion-dropdown__option.active-filter {
        background: var(--button-bg-color)!important;
        border:var(--button-bg-color)!important;
    }
    .notion-dropdown__option.active-filter p {
        color: var(--button-text-color)!important;
    }
}
.super-navbar__logo {
  padding: 0px 8px;
}


.max-width {
    max-width: var(--page-width)!important;
}
#page-setup-guide .max-width {
    max-width: 900px!important;
}
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link, .notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
    margin: 20px -5px!important;
    padding: 12px 18px!important;
    border-radius: var(--button-rounding)!important;
    opacity: 1!important;
    font-weight: 300!important;
    display: inline-flex!important;
    justify-content: center!important;
    transition: background .2s ease-in-out!important;
      border: 1px solid rgba(255,255,255,.1)!important;
  border-radius: 11px!important;
  padding: 10px 12px!important;
  height: auto!important;
    transition: background .6s ease, border .1s ease-in!important;
    background: #151618!important;
    color: white!important;
}
.notion-link {
    opacity: 1!important;
}
.notion-link:hover {
    opacity: .7!important;
}

.notion-collection-card__content .notion-property__text {
    max-width: 100%!important;
}





 .super-navbar {
      border-radius: 4px!important;
      margin: 10px!important;
      width: auto!important;
      top: 1.4em!important;
      background: rgba(0, 0, 0, .1)!important;
      backdrop-filter: blur(8px)!important;
      -webkit-backdrop-filter: blur(8px)!important;
      width: calc(100% - 193px)!important;
      margin: 20px auto!important;
      height: 70px!important;
      box-shadow: 0px 7px 23px 4px rgba(0,0,0,0.1);
      padding: 0px 6px!important;  transition: box-shadow .2s ease-in-out!important;
      box-shadow:
    0 0 0 1px rgba(255,255,255,.04)!important;
  }

  
  .super-navbar:hover, .super-footer:hover {
      transition: box-shadow .2s ease-in-out!important;
      box-shadow:
    0 0 0 1px rgba(255,255,255,.07)!important;
    
  }
  
  .super-footer {
  margin: 0 auto!important;
  margin-bottom: 50px!important;
  background: rgba(255, 255, 255, .01)!important;
  backdrop-filter: blur(1px)!important;
  -webkit-backdrop-filter: blur(1px)!important;
  width: calc(100% - 206px)!important;
  transition: box-shadow .2s ease-in-out!important;
      box-shadow:
    0 0 0 1px rgba(255,255,255,.04)!important;
    border-radius: 5px!important;
}

  
@media all and (max-width: 624px) { 
  .super-navbar {
    width: calc(100% - 50px)!important;
    margin: 0 auto!important;
    padding: 0 15px!important;
  }
  
  .super-footer {
    margin: 0 20px!important;
    width: calc(100% - 50px)!important;
  }
}
  
  .super-navbar::before, .super-footer::before {
    content: ''!important;
    display: block!important;
    width: 100%!important;
    background: linear-gradient(90deg,rgba(56,189,248,0),rgba(255,255,255,.1) 20%,rgba(255,255,255,.1) 67.19%,rgba(236,72,153,0));
    height: 1px;
    position: absolute;
    top: -1px;
    width: 97%;
    z-index: -1;
  }
  
  .super-navbar__cta {
  border: 1px solid rgba(255,255,255,.1)!important;
  border-radius: 4px!important;
  padding: 10px 12px!important;
  height: auto!important;
    transition: background .6s ease, border .1s ease-in!important;
    background: transparent!important;
    color: white!important;
}

.super-navbar__cta:hover {
    border: 1px solid rgba(255,255,255,.1)!important;
    opacity: 1!important;
  background: #2D2F30!important;

}

#page-index .notion-header__title-wrapper {
  display: none!important;
}

h1.notion-heading:first-of-type {
  font-size: 3rem!important;
}

  .notion-header__cover.has-cover {
      position: absolute!important;
      width: 100%!important;
      top: 0!important;
      margin-top: -20px!important;
      height: 60vh!important;
      max-height: 60vh!important;
      z-index: -2!important;
      opacity: .3!important;
  }
  
  
  .notion-header__cover:after {
      content: ""!important;
      position: absolute!important;
      z-index: 1!important;
      bottom: -2px!important;
      left: 0!important;
      width: 100%!important;
      height: 100%!important;
  }
  
  .super-navbar__actions {
    padding: 0px!important;
  }
  
    html ::-webkit-scrollbar {
      width: 10px!important;
      background: var(--color-bg-default)!important;
      padding: 2px!important;
      margin: 3px!important;
      border: 0!important;
  }
  
  html ::-webkit-scrollbar-thumb {
      width: 10px!important;
      border-radius: 10px!important;
      margin: 2px!important;
      background: var(--scrollbar-color)!important;
  }
  
  html ::-webkit-scrollbar-track {
      padding: 2px!important;
      margin: 5px!important;
      margin-right: 2px!important;
  }
  
  /* LIST */
.notion-collection-list {
    margin: 0 auto!important;
    border-top: 0!important;
}
.notion-collection-list__item {
    flex-direction: column!important;
    align-items: flex-start!important;
    margin-bottom: 20px!important;
    border-radius: 20px!important;
    padding: 20px!important;
    transition: background .15s ease-in-out!important;
    border: 1px solid var(--color-border-default)!important;
}
.notion-collection-list__item:hover {
    background: var(--dark-glass)!important;
}
.notion-collection-list__item-content {
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    max-width: 600px!important;
}

.notion-collection-list__item-content .notion-property__text {
    max-width: 600px!important;
}
.notion-collection-list__item-property .notion-semantic-string {
    white-space: pre-wrap!important;
}
.notion-collection-list .notion-property__title__icon-wrapper span, .notion-property__title__icon-wrapper {
    display: block!important;
}
.notion-collection-list .notion-property__title__icon-wrapper {
    margin-inline-end: 10px!important;
}
.notion-collection-list .notion-property__title {
    font-size: 22px!important;
    margin-bottom: 10px!important;
}
.notion-callout {
  background: var(--dark-glass)!important;
  border-color: var(--dark-glass)!important;
}